{% load static %} <!--django的模板语言，可供加载项目文件夹下的static-->
<!DOCTYPE html>
<html>

<head>
    <!--引入jQuery库和本节课自带的css样式( jQuery UI 的最小化版本)-->
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <!-- 以上为外部库，接下来引入内部库 -->
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <title>迷你战舰世界</title>
    <link rel="icon" href="{% static 'image/menu/icon.jpg' %}">
</head>

<body style="margin: 0">
    <div id="game_123" style="width:100vw;height:100vh;"></div> <!--给个特定id便于css和js索引-->
    <script type="module">
        import { Game } from "{% static 'js/dist/game.js' %}";
        $(document).ready(function () {
            let game = new Game("game_123");
        });
        //未来的界面都是在 js 中 Game 渲染的（这样就在前端渲染，不给服务器压力）
        //$(document) 即 <html>...</html>
        //ready就是事件监听函数，在打开html渲染时只会执行一次
    </script>
</body>

</html>