{%load static%}  <!--django的模板语言，可供加载项目文件夹下的static-->

<head>
    <!--引入jQuery库和本节课自带的css样式( jQuery UI 的最小化版本)-->
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <!-- 以上为外部库，接下来引入内部库 -->
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="{% static 'js/dist/game.js' %}"></script>
</head>

<body style="margin: 0">
    <div id="game_123"></div>  <!--给个特定id便于css和js索引-->
    <script type="moudle">
        //未来的界面都是在 js 中 Game 渲染的（这样就在前端渲染，不给服务器压力）
        import {Game} from {% static 'js/dist/game.js' %}
        //$(document) 即 <html>...</html>
        //.ready就是事件监听函数，在页面加载完成后只会执行一次
        $(document).ready(function(){
            let game = new Game("game_123",);
        });
    </script>
</body>
